body {
    font-family: sans-serif;
}

table.i_t {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.i_t__c__h1 {
    color: grey;
}

.i_t__p {
    color: silver;
}

.i_t__p_s {
    color: darkgreen;
}

.i_t__p_e {
    color: red;
    font-weight: bold;
}

.b_u_inp {
    width: 70%;
}

.c_btn {
    width: 25%;
}